<%= form_for(@employer, :url => { :action => "update_password" } ) do |f| %>
<% if @employer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employer.errors.count, "Errors") %> </h2>

    <ul>
    <% @employer.errors.full_messages.each do |message| %>
      <font color="red"><li><%= message %></li></font>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
 <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
 <%= f.password_field :current_password %>
</div>
  <div class="field">
    <%= f.label :password, "New Password" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,"Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action_container">
    <%= f.submit "Update Password" %>
  </div>
<% end %>
