<!-- Ketan -->
<%if @job_user_rejects.count>0%>
      <center><h3>Total Job Seeker: <%=@job_user_rejects.count%></h3></center>
      <br>
      <table class="table table-striped">
        <tr align="center">
          <th>Name:</th>
          <th>Qualification</th>
          <th>Specialization</th>
          <th>Course</th>
          <th>College</th>
          <th>experiences</th>
          <th><center>Resume</center></th>
          <th>Action</th>
        </tr>
        <%@job_user_rejects.each do |job_user|%>
          <tr>
            <td><%=job_user.name%></td>
            <td><%=job_user.education_details.first.qualification%></td>
            <td><%=job_user.education_details.first.specialization%></td>
            <td><%=job_user.education_details.first.course_type%></td>
            <td><%=job_user.education_details.first.college%></td>
            <td><%=job_user.hasexp? ? job_user.experiences.first.working_since_year : "No Experience" %></td>
            <% if job_user.resume?%>
              <td><%=link_to "Download", job_user.resume.url, download: job_user.name,class: "btn btn-sm btn-default"%></td>
              <!-- <td><%=link_to "Download",download_file_path(jobid: params[:jobid], user: job_user.id), download: job_user.name,class: "btn btn-sm btn-default"%></td> -->
            <%else%>
              <td><%= "No Resume Uploaded"%></td>
            <%end%>
            <td><%=link_to "Show",job_seeker_path(user: job_user.id, jobid: params[:jobid])%></td>
          </tr>
        <%end%>
      </table>
  <%else%>
  <center><h3>No Apply for this job</h3></center>
  <center><h3><%= link_to "Back to Job List",jobs_path%></h3></center>
<%end%>
