<!--Riddhi-->
<h1>Industry type Table</h1><br><br>

<table border='2'>
	<tr>
		<th> Name </th>
		<th>Action</th>
	</tr>
	<% @industry_types.each do |a| %>
	<tr>
			<td><center><%= a.name%></center></td>
			<td><center><%= link_to "Show", a %><br>
				<%= link_to "Edit", edit_industry_type_path(a) %><br>
				<%= link_to "Delete", industry_type_path(a) ,method: :delete, data:{confirm: "Are you sure to delete?"} %></center></td>
	</tr>
	<% end %>
<table>
<br><br>

<%= link_to "Add New Record", new_industry_type_path %>
